body{
    background-size:cover;
   opacity: 170%;
   color: beige ;
    background-position:center;
    text-align:center;
    font-size:20px;
    
  }
  .fondoCocina {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondoCocina::before {
    content: "";
    background: url(https://www.recetasnestlecam.com/sites/default/files/inline-images/importancia-cocinar-en-casa.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 30%;
    filter: blur(1px)
}

.fondoMedidas {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fondoMedidas::before {
  content: "";
  background: url(https://www.repagas.com/wp-content/uploads/2019/04/Ingredientes.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 30%;
  filter: blur(1px)
} 
  h1 {
    color: black;
    text-shadow: 2px;
}  
h2 {color: brown
}
  #salida  {
     background: white;
     color: black;
     margin:20px  15em;
     padding:5px;
     font-size:25px;
  }
  .res{
    color:brown;

  }
  #salidaA{
    padding: 10px;
    background: brown;
     margin:20px  15em;
     color: green;
  }
  button {
    padding: 7px;
    border-radius:7px;
    font-weight: bolder;
     background: yellow;
    text-align: center;
    color: chocolate;
  }
  input{
    margin:10px;
    padding: 7px;
    border-radius:7px;
    font-weight: bolder;
     background: yellow;
     color: coral;
    text-align: center;
    border: none;
  }
  span{
    color:greenyellow;
  }
  label{
     color :yellow;
  }






  .card{
    display: flex;
    border: 1px solid grey;
    width: 45rem;
    height: 15rem;
    padding: 1rem;
    margin: 1rem;
    background-color: #f5f5f5;
}
.redCard{
    display: flex;
    border: 1px solid grey;
    width: 45rem;
    height: 15rem;
    padding: 1rem;
    margin: 1rem;
    background-color: crimson;
}
.list{
    list-style: none;
}
.img{
    width: 13rem;
    height: 13rem;
}
.button{
    border-radius: 20%;
    height: 3rem;
    width: 8.5rem;
    cursor: pointer;
    background-color: lightgrey;
    padding: 1rem;
    margin: 0.5rem;
}